#leftbox {
  overflow: scroll;
  width:350px;
  height:100px;
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 70px;
}
#header{
  margin-left: 700px;
}

.table{
  border: 2px solid black;
  width:780px;
}
td{
  padding-left: 10px;
}
#name{
  padding-left: 60px;
}
#email{
  padding-left: 75px;
}
#poke{
  padding-left: 50px;
}
p{
  padding-left: 15px;
}
#container{
  width:900px;
  height:800px;
}